<footer>
    <nav class="navbar fixed-bottom navbar-light bg-light">
        <div class="container-fluid justify-content-center">
            <p class="mb-0 text-center w-100">
                Copyright &copy; @DateTime.Now.ToString("y"). All Rights Reserved
            </p>
        </div>
    </nav>
</footer>
